pkgbase = mira-launcher
	pkgdesc = Linux game launcher for native games and Windows games via Wine/Proton
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/Mira-Launcher/Mira
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = clang
	depends = gcc-libs
	depends = curl
	depends = qt6-base
	optdepends = wine: run Windows games without Proton
	optdepends = umu-launcher: Proton support (AUR)
	optdepends = winetricks: install DLL/redistributable fixes into a game prefix
	optdepends = 7zip: auto-extract archives dropped into a library root
	source = mira-0.12.0.tar.gz::https://github.com/Mira-Launcher/Mira/archive/refs/tags/v0.12.0.tar.gz
	sha256sums = 3170c5b408760a1c43f9310eb738fab6644b5b2a6cc98d538636677a878e38a5

pkgname = mira-launcher
