pkgbase = mira-launcher
	pkgdesc = Linux game launcher for native games and Windows games via Wine/Proton
	pkgver = 0.13.3
	pkgrel = 1
	url = https://github.com/Mira-Launcher/Mira
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = curl
	depends = qt6-base
	depends = qt6-multimedia
	depends = 7zip
	optdepends = wine: run Windows games without Proton
	optdepends = umu-launcher: Proton support (AUR)
	optdepends = winetricks: install DLL/redistributable fixes into a game prefix
	optdepends = cabextract: needed by winetricks
	optdepends = unzip: needed by winetricks
	optdepends = gamemode: GameMode while a game runs
	optdepends = mangohud: performance overlay
	optdepends = sdl3: controllers and sounds in big screen
	optdepends = polkit: install missing system packages from Mira
	optdepends = sqlite: import Lutris libraries
	source = mira-0.13.3.tar.gz::https://github.com/Mira-Launcher/Mira/archive/refs/tags/v0.13.3.tar.gz
	sha256sums = SKIP

pkgname = mira-launcher
